.citiesContainer {
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.citiesContainer h2{
    margin:10px 0;
}

.citiesHeader {
    margin-bottom: 20px;
    font-size: 24px;
}

.carouselWrapper {
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 20px;
}

.citiesList {
    display: flex;
    gap: 20px;
    overflow: hidden;
    width: 80%;
    padding: 10px;
    flex-wrap: nowrap; 
    justify-content: center; 
    margin: 0 auto; 
    transition: all 0.3s ease;
}

.allCitiesGrid {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
    overflow: visible; 
}

.cityCard {
    width: 180px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
}

.cityCard:hover {
    transform: scale(1.05);
}

.cityImage {
    width: 100%;
    height: 120px;
    border-radius: 8px;
    object-fit: cover;
}

.cityName {
    margin: 10px 0;
    font-size: 18px;
}

.cityJobs {
    color: #25d17e;
    font-weight: bold;
    font-size: 14px;
}

.arrow {
    background: none;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    font-size: 24px;
    cursor: pointer;
    color: #25d17e;
    transition: color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow:hover {
    color: #1eab67;
}

.viewAllBtn,
.showLessBtn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #25d17e;
    background-color: #fff;
    border: 2px solid #25d17e;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
}

.viewAllBtn:hover,
.showLessBtn:hover {
    background-color: #1eab67;
    color: #fff;
}
