.stepsContainer {
  text-align: center;
  padding: 40px 40px;
  font-family: "Arial", sans-serif;
  background-color: #f9f9f9;
}

.stepsTitle {
  font-size: 32px;
  margin-bottom: 10px;
  font-weight: bold;
}

.highlight {
  color: #7d3ffc; /* Highlight color for the text */
}

.stepsSubtitle {
  font-size: 18px;
  color: #555;
  margin-bottom: 40px;
}

.stepsWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.stepCard {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s;
  /* max-height:fit-content; */
}


.stepCard:hover {
  transform: scale(1.05);
}

.stepIcon {
  font-size: 25px;
  border-radius: 50%;
  width: 50px;
  height:50px;
  margin:auto auto;
  padding: auto auto;
  display:flex;
  align-items:center;
  justify-content: center;
}

.stepTitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.stepDescription {
  font-size: 14px;
  color: #555;
  line-height: 1.6;
  text-align: justify;
}

.stepCard1,.stepCard3 {
  max-height: fit-content;
}

.stepCard2,.stepCard4 {
  margin-top: 30px;
}

.stepIcon1{
  color:rgb(255, 37, 37);
  background-color: rgba(255, 37, 37, 0.257);
}

.stepIcon2{
  color:rgb(76, 4, 157);
  background-color: rgb(76, 4, 157,0.257);
}

.stepIcon3{
  color:rgb(7, 144, 99);
  background-color: rgb(7, 144, 99,0.257);
}

.stepIcon4{
  color:rgb(247, 206, 5);
  background-color: rgb(247, 206, 5,0.257);
}


