*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif; 
}
.jobportalContainer {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #f9f9f9;
    margin:0;
    padding: 0;
  }
  
  .navbar{
    width:100%;
  }
  
  .heroSection {
    /* margin: 20px 0; */
    width: 100%;
  }
  
  .cities {
    margin: 20px 0;
    width: 100%;
  }
  
  .hiringSteps {
    /* margin: 40px 0; */
    width: 100%;
    padding-bottom: 20px;
  }
  